version: 2
jobs:
  build:
    docker:
      - image: circleci/android:api-28-node

    working_directory: ~/social-app

    environment:
      TERM: dumb
      JAVA_TOOL_OPTIONS: "-Xmx1g"
      CIRCLE_JDK_VERSION: oraclejdk8
      GRADLE_OPTS: "-Dorg.gradle.daemon=false -Dorg.gradle.workers.max=2 -Dkotlin.incremental=false"

    steps:
      - checkout

      - run:
          name: Setup Danger
          command: yarn add danger

      - run:
          name: Danger
          command: yarn danger ci

      - restore_cache:
          key: jars-{{ checksum "build.gradle" }}-{{ checksum "app/build.gradle" }}

      - run:
          name: Accept licenses
          command: yes | sdkmanager --licenses || true

      - run:
          name: Decrypt release key
          command: openssl aes-256-cbc -d -in distribution/release.keystore-cipher -out distribution/release.keystore -md sha256 -k $CIPHER_DECRYPT_KEY

      - run:
          name: Setup Google Services JSON
          command: |
            mkdir -p app/src/debug/ && touch app/src/debug/google-services.json
            echo "${JSON_FIREBASE_DEVELOPMENT}" >> "app/src/debug/google-services.json"
            mkdir -p app/src/release/ && touch app/src/release/google-services.json
            echo "${JSON_FIREBASE_RELEASE}" >> "app/src/release/google-services.json"

      - run:
          name: Run Linters
          command: ./gradlew check --stacktrace

      - run:
          name: Run Tests and generate Code Coverage
          command: ./gradlew createCombinedCoverageReport --stacktrace

      - run:
          name: Upload code coverage data
          command: ./gradlew coveralls --stacktrace

      - run:
          name: Build
          command: ./gradlew assemble assembleAndroidTest --stacktrace

      - store_artifacts:
          path: app/build/reports
          destination: reports

      - store_artifacts:
          path: app/build/outputs/apk
          destination: apks

      - save_cache:
          paths:
            - ~/.gradle
          key: jars-{{ checksum "build.gradle" }}-{{ checksum "app/build.gradle" }}
